<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943720778093-q0qsh9bfbobglics7p1iqjjcrtrk7hsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943720778093-q0qsh9bfbobglics7p1iqjjcrtrk7hsl</string>
	<key>API_KEY</key>
	<string>AIzaSyBhOLivcfQ3f1JWdcjQ_ulMjh2G7FJnUMM</string>
	<key>GCM_SENDER_ID</key>
	<string>943720778093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.detect</string>
	<key>PROJECT_ID</key>
	<string>skindetection-bc73d</string>
	<key>STORAGE_BUCKET</key>
	<string>skindetection-bc73d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943720778093:ios:cea1e4848569f581893264</string>
</dict>
</plist>